<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>HeroListServlet</servlet-name>
    <servlet-class>com.lu.c.HeroListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeroListServlet</servlet-name>
    <url-pattern>/listHero</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addHeroServlet</servlet-name>
    <servlet-class>com.lu.c.AddHeroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addHeroServlet</servlet-name>
    <url-pattern>/addHero</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteHeroServlet</servlet-name>
    <servlet-class>com.lu.c.DeleteHeroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteHeroServlet</servlet-name>
    <url-pattern>/deleteHero</url-pattern>
  </servlet-mapping>
</web-app>