<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <servlet>
    <servlet-name>HeroListServlet</servlet-name>
    <servlet-class>com.lu.c.HeroListServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>HeroListServlet</servlet-name>
    <url-pattern>/listHero</url-pattern>
  </servlet-mapping>
  

  <servlet>
    <servlet-name>HeroDeleteServlet</servlet-name>
    <servlet-class>com.lu.c.HeroDeleteServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>HeroDeleteServlet</servlet-name>
    <url-pattern>/deleteHero</url-pattern>
  </servlet-mapping>
  

  <servlet>
    <servlet-name>HeroEditServlet</servlet-name>
    <servlet-class>com.lu.c.HeroEditServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>HeroEditServlet</servlet-name>
    <url-pattern>/eidtHero</url-pattern>
  </servlet-mapping>
  
  <servlet>
        <servlet-name>HeroUpdateServlet</servlet-name>
        <servlet-class>com.lu.c.HeroUpdateServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>HeroUpdateServlet</servlet-name>
        <url-pattern>/updateHero</url-pattern>
    </servlet-mapping>
  
</web-app>